div
{
    border:1px solid black;  
}
.row.justify-content-end
{
    background-color: antiquewhite;
}
.row.justify-content-start
{
    background-color: aquamarine;
}
.row
{
    background-color: gray;
}